<div class="mainSlider__wrapper">
  <div class="mainSlider">
    <div class="phoneSlider__wrapper">
      <div class="phoneSlider">
        <div class="phoneSlider__slides sizeWrapper swiper-wrapper">
          <div class="phoneSlider__slide">
          <img src="{{Image(page.front_sec2_slide1_img).src}}"  
          srcset="
          {{Image(page.front_sec2_slide1_img)|fit(image_size.retina.phone.width, image_size.retina.phone.height)}} {{image_size.retina.width}},
          {{Image(page.front_sec2_slide1_img)|fit(image_size.large.phone.width, image_size.large.phone.height)}} {{image_size.large.width}},
          {{Image(page.front_sec2_slide1_img)|fit(image_size.medium.phone.width, image_size.medium.phone.height)}} {{image_size.medium.width}},
          {{Image(page.front_sec2_slide1_img)|fit(image_size.mobile.phone.width, image_size.mobile.phone.height)}} {{image_size.mobile.width}}"
          alt="{{Image(page.front_sec2_slide1_img).alt}}">
          </div>
          <div class="phoneSlider__slide">
          <img src="{{Image(page.front_sec2_slide2_img).src}}"  
          srcset="
          {{Image(page.front_sec2_slide2_img)|fit(image_size.retina.phone.width, image_size.retina.phone.height)}} {{image_size.retina.width}},
          {{Image(page.front_sec2_slide2_img)|fit(image_size.large.phone.width, image_size.large.phone.height)}} {{image_size.large.width}},
          {{Image(page.front_sec2_slide2_img)|fit(image_size.medium.phone.width, image_size.medium.phone.height)}} {{image_size.medium.width}},
          {{Image(page.front_sec2_slide2_img)|fit(image_size.mobile.phone.width, image_size.mobile.phone.height)}} {{image_size.mobile.width}}"
          alt="{{Image(page.front_sec2_slide2_img).alt}}">
          </div>
          <div class="phoneSlider__slide">
          <img src="{{Image(page.front_sec2_slide3_img).src}}"  
          srcset="
          {{Image(page.front_sec2_slide3_img)|fit(image_size.retina.phone.width, image_size.retina.phone.height)}} {{image_size.retina.width}},
          {{Image(page.front_sec2_slide3_img)|fit(image_size.large.phone.width, image_size.large.phone.height)}} {{image_size.large.width}},
          {{Image(page.front_sec2_slide3_img)|fit(image_size.medium.phone.width, image_size.medium.phone.height)}} {{image_size.medium.width}},
          {{Image(page.front_sec2_slide3_img)|fit(image_size.mobile.phone.width, image_size.mobile.phone.height)}} {{image_size.mobile.width}}"
          alt="{{Image(page.front_sec2_slide3_img).alt}}">
          </div>
          <div class="phoneSlider__slide">
          <img src="{{Image(page.front_sec2_slide4_img).src}}"  
          srcset="
          {{Image(page.front_sec2_slide4_img)|fit(image_size.retina.phone.width, image_size.retina.phone.height)}} {{image_size.retina.width}},
          {{Image(page.front_sec2_slide4_img)|fit(image_size.large.phone.width, image_size.large.phone.height)}} {{image_size.large.width}},
          {{Image(page.front_sec2_slide4_img)|fit(image_size.medium.phone.width, image_size.medium.phone.height)}} {{image_size.medium.width}},
          {{Image(page.front_sec2_slide4_img)|fit(image_size.mobile.phone.width, image_size.mobile.phone.height)}} {{image_size.mobile.width}}"
          alt="{{Image(page.front_sec2_slide4_img).alt}}">
          </div>
        </div>
      </div>
      <div class="phoneSlider__captionsWrapper">
        <div class="mainSlider__numbers">1</div>
        <div class="phoneSlider__captions">
          <div class="phoneSlider__caption active">
            <span class="phoneSlider__caption__title">{{page.front_sec2_slide1_title}}</span>
            <p class="phoneSlider__caption__description">{{page.front_sec2_slide1_description}}</p>
          </div>
          <div class="phoneSlider__caption">
            <span class="phoneSlider__caption__title">{{page.front_sec2_slide2_title}}</span>
            <p class="phoneSlider__caption__description">{{page.front_sec2_slide2_description}}</p>
          </div>
          <div class="phoneSlider__caption">
            <span class="phoneSlider__caption__title">{{page.front_sec2_slide3_title}}</span>
            <p class="phoneSlider__caption__description">{{page.front_sec2_slide3_description}}</p>
          </div>
          <div class="phoneSlider__caption">
            <span class="phoneSlider__caption__title">{{page.front_sec2_slide4_title}}</span>
            <p class="phoneSlider__caption__description">{{page.front_sec2_slide4_description}}</p>
          </div>
        </div>
        <div class="mainSlider__arrows">
          <div class="mainSlider__arrow mainSlider__arrow-previous">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewbox="0 0 31.49 31.49" style="enable-background:new 0 0 31.49 31.49;" xml:space="preserve" width="512px" height="512px">
              <path d="M21.205,5.007c-0.429-0.444-1.143-0.444-1.587,0c-0.429,0.429-0.429,1.143,0,1.571l8.047,8.047H1.111  C0.492,14.626,0,15.118,0,15.737c0,0.619,0.492,1.127,1.111,1.127h26.554l-8.047,8.032c-0.429,0.444-0.429,1.159,0,1.587  c0.444,0.444,1.159,0.444,1.587,0l9.952-9.952c0.444-0.429,0.444-1.143,0-1.571L21.205,5.007z" fill="#FFFFFF"/>
            </svg>
          </div>
          <div class="mainSlider__arrow mainSlider__arrow-next">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewbox="0 0 31.49 31.49" style="enable-background:new 0 0 31.49 31.49;" xml:space="preserve" width="512px" height="512px">
              <path d="M21.205,5.007c-0.429-0.444-1.143-0.444-1.587,0c-0.429,0.429-0.429,1.143,0,1.571l8.047,8.047H1.111  C0.492,14.626,0,15.118,0,15.737c0,0.619,0.492,1.127,1.111,1.127h26.554l-8.047,8.032c-0.429,0.444-0.429,1.159,0,1.587  c0.444,0.444,1.159,0.444,1.587,0l9.952-9.952c0.444-0.429,0.444-1.143,0-1.571L21.205,5.007z" fill="#FFFFFF"/>
            </svg>
          </div>
        </div>
      </div>
    </div>
    <div class="tileSlider__wrapper">
      <div class="mainSlider__cover">
        <img src="{{Image(page.front_sec2_img).src}}"  
        srcset="
        {{Image(page.front_sec2_img)|fit(image_size.retina.big.width, image_size.retina.big.height)}} {{image_size.retina.width}},
        {{Image(page.front_sec2_img)|fit(image_size.large.big.width, image_size.large.big.height)}} {{image_size.large.width}},
        {{Image(page.front_sec2_img)|fit(image_size.medium.big.width, image_size.medium.big.height)}} {{image_size.medium.width}},
        {{Image(page.front_sec2_img)|fit(image_size.mobile.big.width, image_size.mobile.big.height)}} {{image_size.mobile.width}}"
        alt="{{Image(page.front_sec2_img).alt}}">
      </div>
      <div class="tileSlider"></div>
    </div>
  </div>
</div>