<div class="textSlider__wrapper">
  <div class="textSlider">
    <p class="textSlider__main-text">{{page.about_sec3_main_text}} &nbsp;</p>
    <div class="textSlider__slides">
      <p class="textSlider__slide">{{page.about_sec3_slide1_word}}</p>
      <p class="textSlider__slide">{{page.about_sec3_slide2_word}}</p>
      <p class="textSlider__slide">{{page.about_sec3_slide3_word}}</p>
      <p class="textSlider__slide">{{page.about_sec3_slide4_word}}</p>
      <p class="textSlider__slide">{{page.about_sec3_slide5_word}}</p>
    </div>
  </div>
  <div class="textSlider__captions">
    <p class="textSlider__caption active">{{page.about_sec3_slide1_description}}</p>
    <p class="textSlider__caption">{{page.about_sec3_slide2_description}}</p>
    <p class="textSlider__caption">{{page.about_sec3_slide3_description}}</p>
    <p class="textSlider__caption">{{page.about_sec3_slide4_description}}</p>
    <p class="textSlider__caption">{{page.about_sec3_slide5_description}}</p>
  </div>
</div>