{% extends "base.twig" %}
{% block content %}
	<!-- Front hero section -->
	<section class="front-hero hero-portraits">
		<div class="hero__container hero-portraits__container container">
			<div class="hero__wrapper hero-portraits__wrapper">
				<div class="hero__picture">
					<div class="hero__picture__img">
						<img src="{{Image(page.marchant_sec1_img).src}}" alt="{{Image(page.marchant_sec1_img).alt}}">
					</div>
				</div>
				<div class="hero__content hero-portraits__content">
					<h1 class="hero__content__title hero-portraits__content__title">{{page.marchant_sec1_title}}</h1>
					<div class="hero__content__description hero-portraits__content__description">
						{{page.marchant_sec1_description}}</div>
					
					<div class="hero__content__stores">
						<button class="btn-hero">
							<a href="{{ page.marchant_sec1_cta_url }}">
								{{ page.marchant_sec1_cta }}
							</a>
						</button>

						<button class="btn-hero">
							<a href="{{ page.marchant_sec1_cta_url_demo }}">
								{{ page.marchant_sec1_cta_demo }}
							</a>
						</button>

						<a href="{{ page.front_sec1_appstore_url_appstore }}">
							<img src="{{ Image(page.front_sec1_appstore_logo_appstore).src }} " alt="">
						</a>
						<a href="{{ page.front_sec1_playstore_url_playstore }}">
							<img src="{{ Image(page.front_sec1_playstore_logo_playstore).src }} " alt="">
						</a>
					</div>
                    <div class="press_slider">
							{% for item in page.get_field('marchant_sec1_slider') %}
								<div class="press__slide">
									
										<div class="img">
								            <img src="{{Image(item.logo.sizes.medium).src}}" alt="{{Image(item.logo).alt}}">
							            </div>

									
									
								</div>
							{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End front hero section -->

	<!-- Features section 2 -->
	<section class="front-business hero-portraits">
		<div class="front-business__container container">
			<div class="feat">
				<h3>{{page.marchant_sec2_titre}}</h3>
			</div>
		</div>
		<div class="feat-container container">
			<div class="feat-img-poste">
					<img src="{{ Image(page.marchant_sec2_image).src }} " alt="">
			</div>
			<div class="marchant-feat">
				<div class="feat feat-1-1">
					<p class="feat__content__title">
						{{page.marchant_sec2_feat1_titre}}
					</p>
					<p class="">
						{{page.marchant_sec2_feat1_desc}}
					</p>
				</div>
				<div class="feat feat-2">
					<p class="feat__content__title">
						{{page.marchant_sec2_feat2_titre}}
					</p>
					<p class="">
						{{page.marchant_sec2_feat2_desc}}
					</p>
				</div>
				<div class="feat feat-3">
					<p class="feat__content__title">
						{{page.marchant_sec2_feat3_titre}}
					</p>
					<p class="">
						{{page.marchant_sec2_feat3_desc}}
					</p>
				</div>
				<div class="feat feat-4">
					<p class="feat__content__title">
						{{page.marchant_sec2_feat4_titre}}
					</p>
					<p class="">
						{{page.marchant_sec2_feat4_desc}}
					</p>
				</div>
			</div>
		</div>
		</div>
	</section>
	<!-- End Features section 2 -->

	<!-- Section 3 Procédure -->
	<section class="front-feature-2 hero-portraits">
		<div class="front-business__container container">
			<div class="feat">
				<h3>{{page.marchant_sec3_titre}}</h3>
			</div>
		</div>
		<div class="front-business__container container">
			<div class="feat">
				<div class="feat-img">
					<h1> {{page.marchant_sec3_feat1_grand_titre}} </h1>
				</div>
				<p class="feat__content__title">
					{{page.marchant_sec3_feat1_titre}}
				</p>
                <p class="">
					{{page.marchant_sec3_feat1_desc}}
				</p>
			</div>
			<div class="feat">
				<div class="feat-img">
					<h1> {{page.marchant_sec3_feat2_grand_titre}} </h1>
				</div>
				<p class="feat__content__title">
					{{page.marchant_sec3_feat2_titre}}
				</p>
                <p class="">
					{{page.marchant_sec3_feat2_desc}}
				</p>
			</div>
			<div class="feat">
				<div class="feat-img">
					<h1> {{page.marchant_sec3_feat3_grand_titre}} </h1>
				</div>
				<p class="feat__content__title">
					{{page.marchant_sec3_feat3_titre}}
				</p>
                <p class="">
					{{page.marchant_sec3_feat3_desc}}
				</p>
			</div>
		</div>
		<div class="btn-inscription">
			<button class="btn-feat">
					<a href="{{ page.marchant_sec3_lien_cta_bouton_inscription }}">
								{{ page.marchant_sec3_bouton_inscription_cta }}
					</a>
				</button>
		</div>
	</section>
	<!-- End Section 3 Procédure -->


	<!-- Section 4 Ventes -->
	<section class="front-feature-2 hero-portraits">
		<div class="front-business__container container">
			<div class="">
				<h3>{{page.marchant_sec4_grand_titre}}</h3>
			</div>
		</div>
		<div class="front-business__container container">

			<div class="feat feat-ventes">
				<div class="feat-img">
					<img src="{{ Image(page.marchant_sec4_feat1_img).src }} " alt="">
				</div>
				<p class="">
					{{page.marchant_sec4_feat1_titre}}
				</p>
                <p class="feat__content__title">
					{{page.marchant_sec4_feat1_desc}}
				</p>
			</div>


			<div class="feat feat-ventes">
				<div class="feat-img">
					<img src="{{ Image(page.marchant_sec4_feat2_img).src }} " alt="">
				</div>
				<p class="feat__content__title">
					{{page.marchant_sec4_feat2_titre}}
				</p>
                <p class="">
					{{page.marchant_sec4_feat2_desc}}
				</p>
			</div>
			<div class="feat feat-ventes">
				<div class="feat-img">
					<img src="{{ Image(page.marchant_sec4_feat3_img).src }} " alt="">
				</div>
				<p class="feat__content__title">
					{{page.marchant_sec4_feat3_titre}}
				</p>
                <p class="">
					{{page.marchant_sec4_feat3_desc}}
				</p>
			</div>
			<div class="feat feat-ventes">
				<div class="feat-img">
					<img src="{{ Image(page.marchant_sec4_feat4_img).src }} " alt="">
				</div>
				<p class="feat__content__title">
					{{page.marchant_sec4_feat4_titre}}
				</p>
                <p class="">
					{{page.marchant_sec4_feat4_desc}}
				</p>
			</div>
		</div>

	</section>
	<!-- End Section 4 Ventes -->

	<!-- Section 5 Contact -->
	<section class="front-feature-2 hero-portraits">
		<div class="front-business__container container">
			<div class="">
				<h2>{{page.marchant_sec5_titre}}</h2>
			</div>
		
			<div class="btn-inscription">
					<button class="btn-feat">
						<a href="{{ page.marchant_sec5_lien_cta_bouton_reserver_demo }}">
									{{ page.marchant_sec5_bouton_reserver_demo_cta }}
						</a>
					</button>
			</div>
		</div>
		<div class="front-business__container container">
			<div class="feat">
				<div class="feat-img">
					<img src="{{ Image(page.marchant_sec5_image).src }} " alt="">
				</div>
			</div>
		</div>
	</section>
	<!-- End Section 5 Contact -->


<script type="text/javascript">
	$(document).ready(function () {
$('.press_slider').slick({
slidesToShow: 4,
slidesToScroll: 1,
arrows: false,
dots: false,
autoplay: true,
autoplaySpeed: 2000,
responsive: [
{
breakpoint: 1024,
settings: {
slidesToShow: 4,
slidesToScroll: 4,
infinite: true
}
}, {
breakpoint: 600,
settings: {
slidesToShow: 2,
slidesToScroll: 2
}
}, {
breakpoint: 480,
settings: {
slidesToShow: 1,
slidesToScroll: 1
}
}
// You can unslick at a given breakpoint now by adding: settings: "unslick" instead of a settings object
]
});
});
</script>{% endblock %}
