{% extends "base.twig" %}

{% block content %}
<!-- Prices hero section -->
<section class="prices-hero">
  <div class="prices-hero__container container">
    <div class="prices-hero__content">
      <h1 class="prices-hero__content__title">{{page.prices_sec1_title}}</h1>
      <p class="prices-hero__content__description">{{page.prices_sec1_description}}</p>
    </div>
    <div class="prices-hero__picture">
      <img src="{{Image(page.prices_sec1_img).src}}"  
      srcset="
      {{Image(page.prices_sec1_img)|fit(image_size.retina.card.width, image_size.retina.card.height)}} {{image_size.retina.width}},
      {{Image(page.prices_sec1_img)|fit(image_size.large.card.width, image_size.large.card.height)}} {{image_size.large.width}},
      {{Image(page.prices_sec1_img)|fit(image_size.medium.card.width, image_size.medium.card.height)}} {{image_size.medium.width}},
      {{Image(page.prices_sec1_img)|fit(image_size.mobile.card.width, image_size.mobile.card.height)}} {{image_size.mobile.width}}"
      alt="{{Image(page.prices_sec1_img).alt}}">
    </div>
  </div>
</section>
<!-- End Prices Hero section -->

<!-- Tariff section -->
<section class="prices">
  <div class="prices__container container">
    <div class="prices__bundles__wrapper">
      <div class="prices__bundle">
        <span class="prices__bundle__surtitle">{{page.prices_sec2_bundle1_surtitle}}</span>
        <span class="prices__bundle__title">{{page.prices_sec2_bundle1_price}}</span>
        <p class="prices__bundle__description">{{page.prices_sec2_bundle1_description}}</p>
        <a href="{{page.prices_sec2_bundle1_btn_url}}" class="prices__bundle__link">
          <button type="button" class="prices__bundle__button cta cta-blue">{{page.prices_sec2_bundle1_btn}}
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewbox="0 0 31.49 31.49" style="enable-background:new 0 0 31.49 31.49;" xml:space="preserve" width="512px" height="512px">
            <path d="M21.205,5.007c-0.429-0.444-1.143-0.444-1.587,0c-0.429,0.429-0.429,1.143,0,1.571l8.047,8.047H1.111  C0.492,14.626,0,15.118,0,15.737c0,0.619,0.492,1.127,1.111,1.127h26.554l-8.047,8.032c-0.429,0.444-0.429,1.159,0,1.587  c0.444,0.444,1.159,0.444,1.587,0l9.952-9.952c0.444-0.429,0.444-1.143,0-1.571L21.205,5.007z" fill="#FFFFFF"/>
          </svg>
          </button>
        </a>
      </div>
      <div class="prices__bundle">
        <span class="prices__bundle__surtitle">{{page.prices_sec2_bundle2_surtitle}}</span>
        <p class="prices__bundle__title">
          {{page.prices_sec2_bundle2_main_price}}
          <span class="prices__bundle__title2">{{page.prices_sec2_bundle2_price2}}</span>
        </p>
        <p class="prices__bundle__description">{{page.prices_sec2_bundle2_description}}</p>
        <div class="prices__bundle__wrap">
          <a href="{{ function('get_page_link', page.prices_sec2_bundle2_btn_url) }}" class="prices__bundle__link">
          <button type="button" class="prices__bundle__button cta cta-mango">{{page.prices_sec2_bundle2_btn}}
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewbox="0 0 31.49 31.49" style="enable-background:new 0 0 31.49 31.49;" xml:space="preserve" width="512px" height="512px">
              <path d="M21.205,5.007c-0.429-0.444-1.143-0.444-1.587,0c-0.429,0.429-0.429,1.143,0,1.571l8.047,8.047H1.111  C0.492,14.626,0,15.118,0,15.737c0,0.619,0.492,1.127,1.111,1.127h26.554l-8.047,8.032c-0.429,0.444-0.429,1.159,0,1.587  c0.444,0.444,1.159,0.444,1.587,0l9.952-9.952c0.444-0.429,0.444-1.143,0-1.571L21.205,5.007z" fill="#FFFFFF"/>
            </svg>
          </button>
        </a>
        <span class="prices__bundle__legend">{{page.prices_sec2_bundle2_legend}}</span>
        </div>
      </div>
    </div>

    <div class="prices__features">
      <div class="prices__features__container">
        <div class="prices__features__wrapper container-xs">
          <div class="prices__features__mockup">
            <img src="{{Image(page.prices_sec2_features_free_img).src}}"  
            srcset="
            {{Image(page.prices_sec2_features_free_img)|fit(image_size.retina.phone.width, image_size.retina.phone.height)}} {{image_size.retina.width}},
            {{Image(page.prices_sec2_features_free_img)|fit(image_size.large.phone.width, image_size.large.phone.height)}} {{image_size.large.width}},
            {{Image(page.prices_sec2_features_free_img)|fit(image_size.medium.phone.width, image_size.medium.phone.height)}} {{image_size.medium.width}},
            {{Image(page.prices_sec2_features_free_img)|fit(image_size.mobile.phone.width, image_size.mobile.phone.height)}} {{image_size.mobile.width}}"
            alt="{{Image(page.prices_sec2_features_free_img).alt}}" class="features__mockup__img mockup--active">
            <img src="{{Image(page.prices_sec2_features_pay_img).src}}"  
            srcset="
            {{Image(page.prices_sec2_features_pay_img)|fit(image_size.retina.phone.width, image_size.retina.phone.height)}} {{image_size.retina.width}},
            {{Image(page.prices_sec2_features_pay_img)|fit(image_size.large.phone.width, image_size.large.phone.height)}} {{image_size.large.width}},
            {{Image(page.prices_sec2_features_pay_img)|fit(image_size.medium.phone.width, image_size.medium.phone.height)}} {{image_size.medium.width}},
            {{Image(page.prices_sec2_features_pay_img)|fit(image_size.mobile.phone.width, image_size.mobile.phone.height)}} {{image_size.mobile.width}}"
            alt="{{Image(page.prices_sec2_features_pay_img).alt}}" class="features__mockup__img">
          </div>
          <div class="prices__features__content">
            <h3 class="features__content__title">{{page.prices_sec2_title}}</h3>
            <p class="features__content__description">{{page.prices_sec2_description}}</p>
            <div class="features__content__options">
              <div class="features__options__wrapper">
                <span class="features__options__title feature--active">{{page.prices_sec2_features_free_title}}</span>
                <span class="features__options__title">{{page.prices_sec2_features_pay_title}}</span>
                <div class="features__options__separator"></div>
              </div>
              <ul class="features__options__list">
                {% for item in page.get_field('prices_sec2_features_list_list_free') %}
                  <li class="features__options__item feature--active">{{item.free}}</li>
                {% endfor %}
                {% for item in page.get_field('prices_sec2_features_list_list_premium') %}
                  <li class="features__options__item features--premium">{{item.premium}}</li>
                {% endfor %}
                </ul>
            </div>
            <div class="features__content__img">
              <img src="{{Image(page.prices_sec2_last_img).src}}"  
              srcset="
              {{Image(page.prices_sec2_last_img)|fit(image_size.retina.card.width, image_size.retina.card.height)}} {{image_size.retina.width}},
              {{Image(page.prices_sec2_last_img)|fit(image_size.large.card.width, image_size.large.card.height)}} {{image_size.large.width}},
              {{Image(page.prices_sec2_last_img)|fit(image_size.medium.card.width, image_size.medium.card.height)}} {{image_size.medium.width}},
              {{Image(page.prices_sec2_last_img)|fit(image_size.mobile.card.width, image_size.mobile.card.height)}} {{image_size.mobile.width}}"
              alt="{{Image(page.prices_sec2_last_img).alt}}">
              <svg class="features__notif" width="102px" height="29px" viewbox="0 0 102 29" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <!-- Generator: Sketch 51.3 (57544) - http://www.bohemiancoding.com/sketch -->
                <title>Fill-1-path</title>
                <desc>Created with Sketch.</desc>
                <defs></defs>
                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <g id="UI/01_Desktop_Home" transform="translate(-1117.000000, -631.000000)" fill="#FF9130" fill-rule="nonzero">
                    <g id="hero">
                      <g id="peeps" transform="translate(782.000000, 179.000000)">
                        <path d="M431.297358,465.729803 C417.960437,475.380412 402.182529,480.48164 385.669409,480.48164 C369.156678,480.48164 353.378773,475.380412 340.04224,465.730192 L335,462.0819 L342.298839,452.000389 L347.340688,455.649069 C358.540436,463.753013 371.7945,468.036771 385.669409,468.036771 C399.54471,468.036771 412.798774,463.753013 423.998907,455.64868 L429.040759,452 L436.339596,462.081511 L431.297358,465.729803 Z" id="Fill-1-path"></path>
                      </g>
                    </g>
                  </g>
                </g>
              </svg>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Tariff section -->

<!-- Scroll Slider section -->
<section class="prices__activities">
  <div class="activities__container container">
    <div class="activities__content container-xs">
      <div class="activities__content__label label label-blue">
        <h4>{{page.prices_sec3_surtitle}}</h4>
      </div>
      <h3 class="activities__content__title">{{page.prices_sec3_title}}</h3>
    </div>
  </div>
    {% include 'partials/scrollSlider.twig' %}
</section>
<!-- End Scroll Slider section -->

<!-- FAQ Small section -->
<div class="prices__faq">
  <div class="prices__faq__container container">
    <div class="prices__faq__content container-xs">
      <div class="prices__faq__label label label-blue">
        <h4>{{page.prices_sec4_surtitle}}</h4>
      </div>
      <h3 class="prices__faq__title">{{page.prices_sec4_title}}</h3>
    </div>
    <div class="prices__faq__wrapper container-xs">
      {% for item in page.get_field('prices_sec4_faq') %}
        <div class="prices__faq__question dropdown-container collapsed">
          <p class="dropdown__title">{{item.question}}
            <span class="chevron"></span></p>
          <div class="dropdown-list">
            <p>{{item.answer}}</p>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
<!-- End FAQ Small section -->

{% endblock %}